//colores
$color1: lightgrey;
$color2: black;
$color3: grey;
$color4: rgba(0, 0, 0, 0.678);
$color5: firebrick;
$color6: rgba(128, 128, 128, 0.712);
$color7: rgba(255, 0, 0, 0.842);
$color8: cornflowerblue;
$color9: white;
$color10:rgba(211, 211, 211, 0.568);
$color11: rgb(36, 36, 36);
$color12: rgba(0, 0, 0, 0.795);
$transparente: rgba(0, 0, 0, 0);

body {
    color: $color1;
    background-color: $color2;
    div {
        .instMart, .leyendaHeader {
            background-color: $color4;
            color: $color5;
        }
    }
    header {
        background-image: linear-gradient($color1 90%, $color2);
        @keyframes logo {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        .index span, .contacto span, .destacados span, .bajosYGuitarras span, .otrasCuerdas span, .vientos span, .percusion span, .teclas span, .accesorios span {
            background-color: $color4;
            color: $color5;
        }
    }
    .navSection {
        color: $color2;
        .breadcrumb-item a:hover{
            background-color: $color6;
        }
        nav {
            li{ 
                a:hover, a:active, p:hover, p:active {
                    background-color: $color6;
                }
            }
        }
    }
    main {
        background-image: linear-gradient($color11 10%, $color3, $color11 90%);
        //main index
        .contenidoIndex {            
            background-color: $color1;
            border-color: $color2;
            .gridBYG, .gridOC, .gridP, .gridV, .gridT, .gridAYO {
                color: $color7;
            }
            .gridBYG:hover, .gridOC:hover, .gridP:hover, .gridV:hover, .gridT:hover, .gridAYO:hover, .gridBYG:active, .gridOC:active, .gridP:active, .gridV:active, .gridT:active, .gridAYO:active {
                color: $color8;
            }
        }
        //css instrumentos
        .filtros {
            background-color: $color1;
            .mih3 {
                color: $color3;
            }
            .atribFiltros {
                div {
                    span {
                        color: $color5;
                    }
                }
            }
        }
        .flexCards {
            .card {
                .card-body {
                    color: $color2;
                }
            }
        }
        //main productos
        .estructuraProducto {
            background-color: $color1;
            .basicInterac {
                .recuadrar {
                    background-color: $color9;
                }
            }
            .infoBasica, .productosRelacionados, .basicInterac {
                color: $color2;
                tr{
                    td:first-child {
                        background-color: $color3;
                    }
                }
            }
            .infoDetallada {
                color: $color2;
            }
        }
        //main destacados
        div {
            div{
                div{
                    .miDisplay {
                        background-color: $color10;
                    }
                }
            }
        }
        .linksTiposInst {
            background-color: $color1;
             a {
                 background-color: $color4;
                 color: $color5;
             }
             a:hover, a:active {
                 color:$color8
             }        
        }
    }
    //main contactanos
    .mainContacto{
        color: $color9;
    }
    a {
        color: $color2;
    }
    //css footer
    footer {
        background-color: $color1;
        color: $color2;
        border-bottom-color: $color2;
        border-top-color: $color3;
        .footerLogo {
            border-color: $color2;
        }
        .footer {
            p {
                .linkAContactanos:hover, .linkAContactanos:active {
                    color: $color8;
                }
            }
        }
    }
}
//media queris
//Desde Escritorio, pantallas grandes
@media (min-width:1025px){
    body {
        main{
            .filtros {
                .atribFiltros {
                    div {
                        span {
                            color: $transparente;
                            @keyframes apareceTexto {
                                0% {
                                    opacity: 0;
                                }
                                1% {
                                    opacity: 1;
                                    background-color: $color12;
                                    color: $color5;
                                }
                                99% {
                                    opacity: 1;
                                    background-color: $color12;
                                    color: $color5;
                                }
                                100% {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}