//valores por defecto
//márgenes para accesibilidad
$unMarg: 20px;
$ambosLat: 0 20px;
$allMarg: 20px 20px;


//estructuras
.iLineB, .iLineB li, footer li {
    display: inline-block;
}
body {
    max-width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    .index, .contacto, .destacados, .bajosYGuitarras, .vientos, .otrasCuerdas, .teclas, .percusion, .accesorios {
        height: 70vh;
        max-width: 100vw;
        margin-bottom: 3px;
        span {
            display: block;
            text-align: center;
            position: relative;
        }
    }
    div{
        a {
            .logo {                
                position: relative;
                top: 10px;
                height: 200px;
            }
            @keyframes logo {
                0% {
                    transform: translate(-300px);
                }
            }
        }
    }
    header {
        width: 100%;
        .navSection {
            max-width: 100%;
            div {
                .breadcrumb {
                    margin-left: $unMarg;
                }
            }
            .navRedes{
                position: absolute;
                right: $unMarg;
                .redes {
                    height: 25px;
                    position: relative;
                    top: 0%;
                    transition: all 0.5s;
                }
            }
            h1 {
                text-align: center;
            }
            //Parche bs
            .navbar {
                padding-top: 0px !important;
                .container-fluid {
                    padding-bottom: 10px !important;
                }
            }
            //---------
        }
    }
    main {
        max-width: 100vw;
        p {
            padding: $ambosLat;
        }
        .leyenda {
            max-width: 60vw;
        }
        //css index
        .contenidoIndex {
            max-width: 100%;
            display: grid;
            grid-template-columns: 45% 45%;
            grid-template-rows: 200px 200px 200px;
            row-gap: 5px;
            column-gap: 5px;
            justify-content: center;
            text-align: center;
            border: ridge;
            .gridBYG, .gridOC, .gridP, .gridV, .gridT, .gridAYO {
                height: 200px; 
            }
        }
        //css instrumentos
        .filtros {
            .mih3 {
                padding: 20px 10px 0px 10px;
            }
            .atribFiltros {
                width: 100%;
                padding: 10px;
                .resaltar {
                    border: double $color5 5px;
                    position: relative;
                    bottom: 5px;
                }
                div {
                    display: flex;
                    flex-direction: column;
                    span {
                        display: block
                    }
                    img {
                        height: 24vw;
                        width: 80vw;
                        padding: 2px;
                    }
                }
            }
            .displayMovile {                
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
            }
            .displayFS {
                display: none;
            }
        }
        .flexCards {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            a {
                margin: $allMarg;
            }
        }
        //Productos
        .paraCentrar {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            .carousel {
                .carousel-inner {
                    .carousel-item {
                        img {
                            height: 70vh;
                            width: 70vh;
                        }
                    }
                }
            }
        }
        .estructuraProducto {
            display: flex;
            flex-flow: column nowrap;
            max-width: 100vw;
            border: 3px $color2 solid;
            .basicInterac {
                .recuadrar {
                    position: relative;
                    bottom: 3px;
                    border: 3px $color2 solid;
                    p, h2 {
                        text-align: right;
                        margin: $allMarg;
                    }
                }
            }
            .infoDetallada {
                ul {
                    margin:$allMarg
                }
            }
            .infoBasica {
                p, h3, table {
                    margin: 20px;
                }
                tr{                    
                    td {
                        border: 1px solid;
                        padding: $allMarg;
                    }
                }
            }
        }
        //css destacados
        div {
            div{
                div{
                    .miDisplay {
                        position: absolute;
                        width: 30vw;
                        height: 100%;
                        top: 0%;
                    }
                }
            }
        }
        .linksTiposInst {
            height: 50vh;
            min-height: 300px;
            padding: $ambosLat;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-row-gap: 5px;
            .linkTodosLosDestacados, .linkDestacadosBYG, .linkDestacadosOtrasCuerdas, .linkDestacadosPercusion, .linkDestacadosVientos, .linkDestacadosTeclas, .linkDestacadosAccesorios {
                width: 30vw;
                border: $color4 4px solid;
            }
        }
    }
    //contactanos
    .mainContacto {
        display: flex;
        div {
            p {
                margin-right: $unMarg;
            }
            div {
                .miForm {
                    width: 300px;
                    margin-left: 10px;
                }
            }
        }
        .contactoAlinDer {
            img {
                width: 50vw;
                max-width: 100%;
            }
        }
    }
    footer {
        max-width: 100%;
        border-bottom: double 5px;
        border-top: solid 5px;
        h2 {
            margin-left: $unMarg;
        }
        .footer {  
            margin-left: $unMarg;          
            width: 95%;
            display: grid;
            grid-template-areas: 
            "footerL footerUL"
            "footerP footerP";
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
        }
        .footerLogo {
            grid-area: footerL;
            border: double 5px;
            align-items: center;
            height: 100px;
        }
        p {
            grid-area: footerP;
            margin-left: 10px;
            padding: 0px 3px;
        }
        ul {
            grid-area: footerUL;
            li {
                margin: 10px;
                img {
                    height: 18px;
                }
            }
        }
    }
}
//media queris
//Desde Escritorio, pantallas grandes
@media (min-width:1025px){
    //generales
    body {
        main {
            div{
                div{
                    div{
                        .miDisplay {
                            top: 30%;
                        }
                    }
                }
            }
            //css index
            .contenidoIndex {
                height: 80vh;
                display: flex;
                flex-flow: row nowrap;
                justify-content:space-evenly;
                .gridBYG, .gridOC, .gridP, .gridV, .gridT, .gridAYO {        
                    height: 80vh;
                    width: 15vw;
                }
            }
            //css productos
            .estructuraProducto {
                display: grid;
                grid-template-areas:
                "foto foto foto foto"
                "info info info interac"
                "det det det det"
                "rel rel rel rel"
                ;
                .carousel {
                    grid-area: foto;
                }
                .basicInterac {
                    grid-area: interac;
                }
                .infoBasica {
                    grid-area: info;
                }
                .infoDetallada {
                    grid-area: det;
                }            
                .productosRelacionados {
                    grid-area: rel;
                }
            }
            //css instrumentos
            .filtros {
                .mih3 {                
                    position: relative;
                    top: 10px;                    
                }
                .atribFiltros {
                    div {
                        span {
                            display: inline-block;
                            position: absolute;
                            padding: $ambosLat;
                            height: 18vw;
                            width: 18vw;
                        }
                        img {
                            height: 18vw;
                            width: 18vw;
                        }
                    }
                }
                .displayMovile {                
                    display: none;
                }
                .displayFS {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;
                }
            }
            //Destacados
            .linksTiposInst {
                height: 20vh;
                padding: $ambosLat;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                .linkTodosLosDestacados, .linkDestacadosBYG, .linkDestacadosOtrasCuerdas, .linkDestacadosPercusion, .linkDestacadosVientos, .linkDestacadosTeclas, .linkDestacadosAccesorios {
                    height: 15vh;
                    width: 14vw;
                }
            }
        }
        footer {
            .footer {
                display: flex;
            }
        }        
    }
}