//elementos importados de google font
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono:ital,wght@1,200&display=swap');
//----------------------------------
//Tamaños de letra
$fs-m: 1rem;
$fs-sr: $fs-m - 0.2;
$fs-s: $fs-m - 0.1;
$fs-l: $fs-m + 0.1;
$fs-xl: $fs-m + 0.2;
$fs-xxl: $fs-m + 0.3;

//font-family
$ff-1: 'Roboto Mono', monospace;
$ff-2: 'Oswald', sans-serif;

//valores fijos
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.bold {
    font-weight: bold;
}

//demás
//css generales
.linkAContactanos {
    text-decoration: underline !important;
}
body {
    div {
        .instMart {
            font-weight: bolder;
            font-size: 5vh;
        }
        .leyendaHeader {
            font-weight: bold;
        }
    }
    header {
        font-family: $ff-2;
    }
    main {
        font-family: $ff-1;
        font-size: $fs-m;
        .leyenda {
            font-size: $fs-sr;
        }
        //css index
        .contenidoIndex {
            font-weight: bolder;
            font-size: $fs-xl;
        }
        //css destacados
        div {
            div{
                div{
                    .miDisplay {
                        .h5, p {
                            font-size: $fs-m;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        .linksTiposInst {
            a{
                font-weight: bold;
                text-align: center;
            }
        }
        //instrumentos
        .filtros {
            .mih3 {
                font-size: $fs-xl;
                font-weight: bold;
                text-decoration: underline;
            }
        }            
        //css productos
        .estructuraProducto {
            .infoBasica {
                h3 {
                    font-size: $fs-m;
                    font-weight: bolder;
                    text-decoration: underline;
                }
                table {
                    tr {
                        td {
                            font-weight: bold;
                        }
                    }
                }
            }
            .infoDetallada {
                p {
                    font-size: $fs-m;                    
                    font-weight: bold;
                }
                ul {
                    list-style: circle;
                    li {
                        font-size: $fs-sr;
                    }
                }
            }
            .basicInterac {
                .recuadrar{
                    p, h2 {
                        font-size: $fs-l;
                    }
                    h2 {
                        font-weight: bolder;

                    }
                    p {
                       font-weight: bold; 
                    }
                }
            }
            .productosRelacionados {
                h3 {
                    font-size: $fs-m;
                    text-decoration: underline;
                }
            }
        }
        //Log-in
        .mainLog-in {
            .miForm {
                font-size: $fs-m;
            }
        }
        //footers
        footer {        
            h2, h3, h4, h5, h6 {
                font-size: $fs-m;
                text-decoration: underline;
            }
            .footer {
                p {
                    font-size: $fs-s;
                }
            }
        }
    }
}
//media queris
@media (min-width:1025px){
    body {
        main{
            font-size: $fs-l;
            .leyenda {
                font-size: $fs-s;
            }
            div {
                div{
                    div{
                        .miDisplay {
                            .h5 {
                                font-size: $fs-l;
                                font-weight: bold;
                            }
                            p {
                                font-size: $fs-m;
                            }
                        }
                    }
                }
            }
            //css index
            .contenidoIndex {
                font-size: $fs-xxl;
            }
            //css istrumentos
            .filtros {
                .displayFS {
                    div {
                        span {
                            font-weight: 900;
                            font-size: $fs-xxl;
                        }
                    }
                }
            }            
        }
    }
}